build*/
papers/
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.out
paper/*.fls
paper/*.fdb_latexmk
paper/*.synctex.gz
userManual/*.aux
userManual/*.log
userManual/*.out
userManual/*.fls
userManual/*.fdb_latexmk
userManual/*.toc
bench/output/
*.zip
